/* CSS for Joe Micheals */
/* DESKTOP - 860px width */
/* 860px - 12x50px columns, 11x20px gutters, 2x20px side gutters */

/* RESETS */
body, body * {
    margin: 0;
    padding: 0;
	outline: 0;
	vertical-align: baseline;
	text-decoration: none;
	/*border: 0 none;*/ /* overrides browser default for form input fields */
	/*background: transparent;*/ /* overrides browser default for form input fields */
}
/* END RESETS */

/* GLOBAL STYLES */
html  {
	/* Gradient solution from Duckett p.419 2011 */
	/* fallback color */
	background-color: #FFCB39;
	/* background-color:#f1f1f1; */ /* off white to contrast white wrapper color */
	/* fallback image */
	background-image: url('../images/gradientBackGround1_20x500.png'); 
	background-repeat: repeat-x;
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(#FFD152, #FFCB39);
	/* Safari 4+, Chrome 1+ */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFD152), to(#FFCB39));
	/* Safari 5.1+, Chrome 10+ */ 
	background-image: -webkit-linear-gradient(#FFD152, #FFCB39);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(#FFD152, #FFCB39);
	height: 100%;
	/* This rule is the money, and not in Duckett CSS3: Gradients */
	background-attachment: fixed;	
}

body {
	font-family: "Open Sans", "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif;
	font-size: 100%; 
	color: #000;
	line-height: 1.5;
	margin-left: auto;
	margin-right: auto;	
	margin-top: 0px;
  	margin-bottom: 20px;
	padding-bottom: 15px;	
}

img {
	max-width: 100%;
}

a img {
	border: none; /* Gets rid of blue border that IE puts around linked images */	
}

h1 { 
	font-family: Roboto, "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif;
}

h2 {
	margin: 0 0 .9em 0;
	font-family: Roboto, "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif;
}

h3 { 
	margin: .2em 0 .5em 0;
	font-family: Roboto, "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif;
}

ul > h3 {
	margin: 15px 0 0 0;	
}

h4 {
	margin: .2em 0 .3em 0;
	font-family: Roboto, "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif;	
}

p, ol, ul, dl { /* dl - definition lst */
	margin-bottom: 0.75em; 
}

ul {
	list-style-type: disc;
	list-style-position: inside; /* list item markers will appear inside the document flow */
	padding-left: 0;	
	margin-bottom: .30em;
	margin-top: .15em;			
}

ol {
	padding-left: 2.25em;	
}

li {
	padding: 0em 0em 0.3125em .75em; /* padding left moves text away from the the bullet */
}

.disc {
	list-style-type: disc;	
	/*padding-left:.15em;*/
	/*margin-left: .75em;*/ 
}

.list-description {
	font-weight: bold;
	margin-bottom: 0;	
}

a:link,
a:visited {
	color: black;
	text-decoration: none;
	border-bottom: 2px dotted; 
	border-bottom-color: #CCC;
}

a:hover,
a:focus {
	text-decoration: underline;
	color: #FFCB39;
	background-color: black;
	border-bottom: none; 
}

footer {
	margin-left: auto;
	margin-right: auto;
	clear: both;	
	padding: 1px 0px 10px 20px;
}

.top {
	margin-top: 20px;
}

.smallcapsarecool {
	font-weight: normal;
	font-variant: small-caps;
}

.small {
	font-size: small;	
}

.strong {
	font-weight: 900;	
}

.light {
	color: #666;		
}

section {
	overflow: hidden;
	clear: both;
	margin-bottom: 15px;		
}

.add-margin-top {
	margin: 25px 0 0 0;	
}

.add-margin-bottom {
	margin: 0 0 25px 0;	
}
/*** END GLOBAL STYLES ***/

/*** HEADER ***/
header {
	position: relative;
	margin-bottom: 5px;
	background-color: #FF972B;
}

header img {
	padding-top: 10px;
	padding-left: 15px;	
	display: block;
}

h1 span {
	display: none;	
}

header h2.tagline {
	font-size: 1.05em;
	width: 400px;
	position: absolute;
	top: 135px;
	left: 90px;	
	font-weight: 400;
}

.tagline a:link,
.tagline a:visited,
.tagline a:hover,
.tagline a:focus {
	color: #000;
	text-decoration: none;	
	border-bottom: none; 
}

header a:hover {
	text-decoration: none;
	border-bottom: none;	
	background-color: transparent;	
}
/*** END HEADER ***/

/*** RESPONSIVE NAVIGATION STYLES ***/
nav {
	line-height: 60px;
	font-variant: small-caps;
	background-color: #000;
	overflow: hidden;
	font-family: Roboto, "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif;
	clear: both;
	margin-bottom: 19px;
}

nav ul {
    padding: 0;
    margin: 0 20px;
	list-style: none;
	/* center aligns nav ul */
	margin: 0 auto; 
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

nav li {
	float: left;
	/*line-height: 60px;
	list-style-type: none;*/
	padding: 0;
}

nav a:link,
nav a:visited {
	color: #FFF;
	padding: 0 14px; /* top-bottom, left-right */
	/*padding: .5em 1.5em;*/
	display: block; /* fills entire list item's content area */
	text-decoration: none;
	/*font-size: 18px;*/
	font-size: 1.15em;
	border-bottom: none;
	/*border-top: 1px solid #181818*/
  	border-right: 1px solid #181818;
}

nav ul > li:first-child {
  border-left: 1px solid #181818;
}

nav a:hover,
nav a:focus {
	color: #000;
	background-color: #FFCB39;
}

nav a:active {
	color: #000;
	background-color: #FFCB39;
}

nav ul li.main-on a {
	color: #FFCB39;
	background-color: #000;
	text-decoration: underline;
}

.navicon-container {
  display: none;
}

/** FOR SUB-NAVIGATION */
/** {
  margin: 0;
  padding: 0;
}*/

/*.myMenu li ul {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  border-bottom: 1px solid #666;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.myMenu li:hover ul {
  opacity: 1;
  transition-delay: 0s;
}

.myMenu li ul li {
  display: inline;
  float: none;
}

ul.myMenu li ul li a:link,
ul.myMenu li ul li a:visited {
  background-color: #D1DBBD;
  width: auto;
  color: #3E606F;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  border-top: 1px solid #666;
}

.myMenu li:hover ul li a:hover {
  background-color: #FCFFF5;
  color: #193441;
}
*/
/** END FOR SUB-NAVIGATION */
/*** END RESPONSIVE NAVIGATION STYLES ***/

/*** LAYOUT STYLES ***/
#wrapper {
	background-color: #fff;
	width: 860px;
	/*margin-top: 30px;*/
	margin: auto;
	margin-bottom: 25px;
	/* padding: 0em 1.1em .25em 1.1em; */
	/*border-radius: 9px;*/ /* Rounded corners */
	/*-moz-border-radius: 9px;*/ /* Rounded corners in old versions of mozilla */
	-/*webkit-border-radius: 9px;*/ /* Rounded corners in old versions of Safari and Chrome */
	/*box-shadow: 3px 4px 3px #666;*/ /* horizontal, vertical, blur, color */
}

.middle {
	overflow: hidden;
	padding-left: 20px; /* add 14 px to be same padding as nav items */
	padding-right: 20px;	/* add 14 px to be same padding as nav items */
	/*clear: both;*/
	margin-bottom: 20px;
	margin: auto;
}

.middle-contact {
	overflow: hidden;
	padding-left: 20px;
	padding-right: 20px;
}

.four-of-twelve-columns-left {
	width: 260px;
	float: left;	
}

.four-of-twelve-columns-right {
	width: 260px;
	float: right;	
}

.eight-of-twelve-columns-left {
	width: 540px;	
	float: left;
}

.eight-of-twelve-columns-right {
	width: 540px;
	float: right;	
}
/*** END LAYOUT STYLES ***/

/*** AUDIO PLAYER EMBED ***/
audio {
	width: 100%;
}

/* adds margin between audio player and h3 above */
.audio-player-margin-top {
	margin-top: 20px;	
}

.audio-player {
	margin-bottom: 25px;	
}

.audio-caption {
	font-size: .8em;
	margin: 5px 0 15px 0;
}

/* adds border under audio player */
.border-bottom {
	border-bottom: 1px solid #000;
	margin-bottom: 25px;
	width: 98%;
}
/*** END AUDIO PLAYER EMBED ***/

/*** IFRAME ***/
.eight-of-twelve-columns-left audio,
.eight-of-twelve-columns-right audio {
	width: 100%;
}

.eight-of-twelve-columns-left .iframe-wrapper,
.eight-of-twelve-columns-right .iframe-wrapper {
	margin-bottom: 15px;	
}

.iframe-wrapper { 
	height: 0;
	position: relative;
	padding-bottom: 56.25%;
}

iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.iframe-embed {
	border: 0;
}

.video-caption-small {
	font-size: .8em;
	margin: 0 0 25px 0;	
}
/*** END IFRAME ***/

/*** BIO PAGE ***/
/* div containing image and paragraphs */
.Bio-1,
.Bio-2 {
	overflow: auto;
}

.bio-text {
	width: 540px;
	float: right;	
}

.SeattleTimes {
	overflow: hidden;
	background-color: #fff3d3; /* shade of #FFCB39 (yellow) */
	padding: 15px 0 15px 0;
}

.SeattleTimes .eight-of-twelve-columns-right {
	box-sizing: border-box;
	padding: 0 15px 0 0;
}
/*** END BIO PAGE ***/

/*** CONTACT / THANK YOU PAGES ***/
address.thankyou {
	margin-top: 2em;
}

#contact-joe {
	float: left;
	margin-bottom: 25px;
	width: 400px; /* six of twelve columns */
}

fieldset {
	border: none;
}

form {
	font-size: 100%;	
}

label {
	margin-bottom:.75%;	
}

input,
textarea {
	border: 1px solid grey;
	border-radius: 2px;
	width: 100%;	
	margin-bottom: 2%;
	height: 84px;
}

#contact-form label {
	width: 67%;
	display: block;
}

#contact-form input.error { /* input boxes */
	border: 1px solid magenta;
}

#contact-form label.error { /* text */
	color: magenta;
	margin-bottom: 1%;
}

#contact-form textarea.error {
	color: magenta;
	border: 1px solid magenta;
}

#contact-form button {
	float: right;
	padding: 2%;
}

/*#contact-form p#buttons {
}*/

#first-name,
#last-name,
#email,
#subject {
	height: 28px;
	margin-bottom: 1%;		
}

/** CASHMAN FLIP CARD **/
.flip-container {
	width: 400px; /* six of twelve columns */
	float: right;
	position: relative; /* relative to .middle-contact */
	top: -19px;	/* position from top of .middle-contact div (lifts image higher) */
	/* perspective determines the distance between the z=0 plane and the user 
	in order to give a 3D-positioned element some perspective. */
    perspective: 1000;
    display: inline-block;
}

.flip-container:hover .cashman-drawing {
	transform: rotateY(180deg);
}

.cashman-drawing, .front-contact, .back-contact, .front-thankyou, .back-thankyou {
     width: 400px;
     height: 597px;
 }

.cashman-drawing {
	transition: 0.5s;
	/* preserve-3d indicates that the children of the element should be positioned 
	in the 3D-space. */
    transform-style: preserve-3d;
	/* allows front and back cards to be positioned relative to this div */
    position: relative; 
}

.front-contact, .back-contact, .front-thankyou, .back-thankyou {
	/* backface-visibility sets whether the back face of an element is visible when 
	turned towards the user. The back face is hidden, effectively making the element 
	invisible when turned away from the user. */
    backface-visibility: hidden;
	/* for positioning the front and back cards relative to the cashman-drawing div */
    position: absolute; 
}

.front-contact {
	z-index: 1;
	transform: rotateY(180deg);
	background: url("../images/joeByCashman-front-400x597px.jpg") no-repeat;
}

.back-contact {
	z-index: 2; /* back side, placed above front */
	transform: rotateY(0deg);
	background: url("../images/joeByCashman-back-400x597px.jpg") no-repeat;
}

.front-thankyou {
	z-index: 2; /* front side, placed above back */
	transform: rotateY(0deg);
	background: url("../images/joeByCashman-front-400x597px.jpg") no-repeat;
}

.back-thankyou {
	z-index: 1;
	transform: rotateY(180deg);
	background: url("../images/joeByCashman-back-400x597px.jpg") no-repeat;
}
/** END CASHMAN FLIP CARD **/
/*** END CONTACT / THANK YOU PAGES ***/

#validation-icons a {
	text-decoration: none;
	background-color: transparent;
	border-bottom: none;	
}
