@charset "UTF-8";
/* CSS Document */

@media (max-width: 859px) {
	
/*** HEADER ***/
header {
	display: flex;	
}

header h2.tagline {
/*font-size: calc(1.1em + 0.5vw);*/
font-size: 2vw; 
}
/*** END HEADER ***/
	
/*** START RESPONSIVE NAVIGATION STYLES ***/
nav ul {
  text-align: left;
  display: none;
  width: 100%;
  margin: 0;
}

nav ul > li {
  display: block;
  float: none;
}

nav ul > li:first-child {
  border-left: none;
}

nav ul li ul {
  margin-left: 140px;
  font-size: .95em;
}

nav ul li a:link,
nav ul li a:visited {
  border-top: none;
  border-left: 1px solid #333;
}

.nav-button {
  background-color: #000;
  cursor: pointer;

  /* hamburger: top and bottom borders */
  position: relative;
  display: inline-block;
  width: 1.25em;
  height: 0.8em;
  margin-right: 0.3em;
  border-top: 0.2em solid #FFF;
  border-bottom: 0.2em solid #FFF;
}

/* hamburger: absolute positioning of middle line */
.nav-button::before {
  content: "";
  position: absolute;
  top: 0.3em;
  left: 0px;
  width: 100%;
  border-top: 0.2em solid #FFF;
}

.navicon-container {
  background-color: #000;
  border-bottom: 1px white;
  padding: .2em .2em 0 .2em;
  font-size: 1.5em;
  color: #FFF;
  display: block;
  cursor: pointer;
}
/*** END RESPONSIVE NAVIGATION STYLES ***/

/* Tablet 768 px | 800 px - 12x45 px columns, 11x20px gutters, 2x20px side gutters */
/* Tablet 768 px | 840 px - 12x50 px columns, 11x20px gutters, 2x10px side gutters */ 
/* Tablet 768 px | 860 px - 12x50 px columns, 11x20px gutters, 2x20px side gutters */ 

/*** START BASIC LAYOUT STYLES ***/		
#wrapper {
	/* max-width: 860px;	*/
	width: 100%;
	max-width: 100%;
}

section {
	margin-bottom: 25px;	
}

/** IFRAME **/
.iframe-wrapper {
	height: 0;
	position: relative;	
	
	/* padding is relative to the width of the element */
	/* The aspect ratio of 16:10, is expressed by 10/16 = 62.5% */
	padding-bottom: 62.5%;
	z-index: 1;
}

iframe {
	width: 100%;	
	height: 100%;
	position: absolute;
}
/** END IFRAME **/

/*** END BASIC LAYOUT STYLES ***/

/*** HOME, COMMERCIAL, INDUSTRIAL, PORTAL 2, ON-CAMERA, AND DANCE PAGES  ***/
.flex-wrapper {
	display: flex;
}

.four-of-twelve-columns-left {
	flex: none; /* allows div to maintain its fixed width */
	margin-right: 20px;
}

.eight-of-twelve-columns-right {
	/* this column flexes */
}
/*** END HOME, COMMERCIAL, INDUSTRIAL, PORTAL 2, ON-CAMERA, AND DANCE PAGES  ***/

/*** IMAGING PAGE ***/
.imaging-page-wrapper {	
	display: flex;
}

.imaging-page-wrapper .eight-of-twelve-columns-left {
	/*margin-right: percentage(20/540);*/	
	margin-right: 20px;
}

.imaging-page-wrapper .four-of-twelve-columns-right {
	flex: none; /* allows div to maintain its fixed width */
}

/*** END IMAGING PAGE ***/

/*** START BIO PAGE ***/
.Bio-1,
.Bio-2,
.SeattleTimes {
	/*width: 100%;*/	
	display: flex;
	/*flex-wrap: nowrap;*/
}

.Bio-1 img,
.Bio-2 img,
.SeattleTimes img {
	/*max-width: 100%;
	height: 100%;*/
	margin: 0 20px 15px 0;
}

.Bio-1 .eight-of-twelve-columns-right,
.Bio-2 .eight-of-twelve-columns-right {
	width: 100%;
	padding-right: percentage(20/540);
}

.SeattleTimes .eight-of-twelve-columns-right {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

img.Joe-Left {
	max-width: 100%;
	height: 310px;
}

.bio-text {
	width: 100%;
}

.clearfix {
  overflow: auto;
}
/*** END BIO PAGE ***/

/*** START CONTACT / THANK YOU PAGE STYLES ***/	
#contact-joe {
	width: 100%;
	margin-right: 20px;
}

form {
	width: 100%;
}

#first-name,
#last-name,
#email,
#subject {
	height: 2em;
	margin-bottom: 1%;
	font-size: 1.1em;		
}

textarea {
	font-size: 1.1em;	
}

/** CASHMAN FLIP CARD **/
.flip-container {
	position: static; /* cancels positioning related to parent container .middle-contact */
	float: none;
	clear: both;
	width: 100%;
	margin: auto;
}

.cashman-drawing {
	margin: auto;
}
/** END CASHMAN FLIP CARD **/
/*** END CONTACT / THANK YOU PAGE STYLES ***/	
	
}







