@charset "UTF-8";
/* CSS Document */

@media (max-width: 859px) {
	
/*** START RESPONSIVE NAVIGATION STYLES ***/
nav ul {
  text-align: left;
  display: none;
  width: 100%;
  margin: 0;
}

nav ul > li {
  display: block;
  float: none;
}

nav ul > li:first-child {
  border-left: none;
}

nav ul li ul {
  margin-left: 140px;
  font-size: .95em;
}

nav ul li a:link,
nav ul li a:visited {
  border-top: none;
  border-left: 1px solid #333;
}

.nav-button {
  background-color: #000;
  cursor: pointer;

  /* hamburger: top and bottom borders */
  position: relative;
  display: inline-block;
  width: 1.25em;
  height: 0.8em;
  margin-right: 0.3em;
  border-top: 0.2em solid #FFF;
  border-bottom: 0.2em solid #FFF;
}

/* hamburger: absolute positioning of middle line */
.nav-button::before {
  content: "";
  position: absolute;
  top: 0.3em;
  left: 0px;
  width: 100%;
  border-top: 0.2em solid #FFF;
}

.navicon-container {
  background-color: #000;
  border-bottom: 1px white;
  padding: .2em .2em 0 .2em;
  font-size: 1.5em;
  color: #FFF;
  display: block;
  cursor: pointer;
}
/*** END RESPONSIVE NAVIGATION STYLES ***/

/* Tablet 768 px | 800 px - 12x45 px columns, 11x20px gutters, 2x20px side gutters */
/* Tablet 768 px | 840 px - 12x50 px columns, 11x20px gutters, 2x10px side gutters */ 
/* Tablet 768 px | 860 px - 12x50 px columns, 11x20px gutters, 2x20px side gutters */ 

/*** START BASIC LAYOUT STYLES ***/		
#wrapper {
	/*max-width: 860px;	*/
	width: 100%;
}
/*** END BASIC LAYOUT STYLES ***/	

/*** IMAGING PAGE ***/

.imaging-page-wrapper {	
	display: flex;
}

.imaging-page-wrapper .eight-of-twelve-columns-left {
	/*margin-right: percentage(20/540);*/	
	margin-right: 20px;
}

.imaging-page-wrapper .four-of-twelve-columns-right {
	flex: none; /* allows div to maintain its fixed width */
}

/*** END IMAGING PAGE ***/

/*** DANCE PAGE ***/




/*.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/

.four-of-twelve-columns-left {
	/*display: inline-block;*/
	/*display: block!important;*/
	
}

/*.middle.dance {
	background-color: orange;	
}*/

/*.dance-text {
	background-color: blue;
	width: 260px;
	float: left;	
}*/

.middle.dance {
	display: flex;
}

.four-of-twelve-columns-left {
	flex: none; /* allows div to maintain its fixed width */
}

.eight-of-twelve-columns-right {
	/*width: 100%;*/	
	/*display: flex;*/
	/*flex-wrap: nowrap;*/
	/*display: inline-block;*/
	/*background-color: pink;
	margin-left: 280px;
	background-color: yellow;*/	
}

audio {
	/*max-width: 100%;*/
	width: 100%;
}

/* eight-of-twelve-columns-right */
/*.audio-video-embeds {
	margin-left: 280px;
	width: initial;
}*/

 /* causes problem greater than 860 (width: 540px;) */
 /* used JQuery to change classes */
/*.eight-of-twelve-columns-right {
	margin-left: 280px;
}*/


/*.audio-embeds {
	margin-left: 560px;
}*/

.bio-text {
	width: 100%;
}


/*** IFRAME ***/
.iframe-wrapper {
	height: 0;
	position: relative;	
	
	/* padding is relative to the width of the element */
	/* The aspect ratio of 16:10, is expressed by 10/16 = 62.5% */
	padding-bottom:62.5%;
	z-index:1;
	/*clear:both;*/
	/*overflow: hidden;*/
}

iframe {
	width:100%;	
	height:100%;
	position:absolute;
	/*top:0;
	left:0;*/
	/*margin-left: 20px;*/
	/*overflow: hidden;*/
}

/*.video-container {
	overflow: hidden;
}*/
/*** END IFRAME ***/

/*** END DANCE PAGE ***/

/*** START BIO PAGE ***/
.Bio-1,
.Bio-2,
.SeattleTimes {
	width: 100%;	
	display: flex;
	flex-wrap: nowrap;
}

.Bio-1 img,
.Bio-2 img,
.SeattleTimes img {
	max-width: 100%;
	margin: 0 20px 15px 0;
}

.Bio-1 .eight-of-twelve-columns-right,
.Bio-2 .eight-of-twelve-columns-right {
	width: 100%;
	padding-right: percentage(20/540);
}

.SeattleTimes .eight-of-twelve-columns-right {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

img.Joe-Left {
	max-width: 100%;
	height: 310px;
}

.clearfix {
  overflow: auto;
}

/*** END BIO PAGE ***/

/*** START CONTACT / THANK YOU PAGE STYLES ***/	
#contact-joe {
	width: 100%;
	/*background-color: blue;*/
	margin-right: 20px;
}

fieldset {

	/*background-color: green;*/
}

form {
	width: 100%;
}



#first-name,
#last-name,
#email,
#subject {
	height: 2em;
	margin-bottom: 1%;
	font-size: 1.1em;		
}

textarea {
	font-size: 1.1em;	
}

header h2.tagline {
font-size: 1.1em;
width: 100%;
/*position: absolute;*/
/*top: 135px;
left: 90px;	
font-weight: 400;*/
}

#wrapper {
	max-width: 100%;
	/*margin: auto;*/


}

nav {
	/*font-size: .9em;*/	
}

.flip-container {
	clear: both;
	width: 100%;
	margin: auto;
	/*align: left;*/
	/*background-color: pink;*/
}

.cashman-drawing {
	/*background-color: purple;*/	
	margin: auto;
	max-width: 400px;
	max-width: 100%;
	/*clear: both;*/
	
	/*display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
min-height: 100vh;*/
	}
	
/*** END CONTACT / THANK YOU PAGE STYLES ***/	
	
}







